* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: non;
}

body {
  font-family: 'Work Sans', sans-serif;
}

/* ! *************************  */
/* ! Responsive section  */
/* ! *************************  */

@media (max-width: 480px) {
  .navbar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-items > .navbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .navbar-section {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .navbar-items > .navbar-item {
    margin-top: -7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 2rem;
  }
}

/* ? ##################  */
/* ? Responsive section  */
/* ? ##################  */

.navbar-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35vw;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
  padding: 1.5rem 0rem;
}

.navbar-section > .icon > .navbar-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-section > .icon > .navbar-icon > img {
  padding: 0.5rem;
}

.navbar-section > .icon > .navbar-icon > h1 {
  font: normal normal 700 45px / normal 'Work Sans';
  color: #0b0223;
  padding: 0.5rem;
}

.navbar-section > .icon > .navbar-icon > h1 > span {
  color: #ff42a5;
}

.navbar-section > .navbar-items {
  display: flex;
}

.navbar-section > .navbar-items > .navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navbar-section > .navbar-items > .navbar-item > li {
  list-style: none;
  font: normal normal 500 18px / normal 'Work Sans';
  color: #3c354f;
}

.navbar-section > .navbar-items > .navbar-item > .inside-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 23px;
}

.inside-item > li {
  list-style: none;
  font: normal normal 500 18px / normal 'Work Sans';
  padding: 0.5rem;
}

.inside-item > i:nth-child(2) {
  color: #f61c0d;
  padding: 0 0.5rem;
}
.inside-item > i:nth-child(3) {
  color: #000000;
  padding: 0 0.5rem;
}

/* !############## */
/* !header section */
/* !############## */

/* ! Header section responsive */

@media (max-width: 480px) {
  .header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: none !important;
  }

  .header-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-tag > .header-para {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px !important;
    margin: 10px !important;
  }

  .header-para > p {
    font-size: 15px !important;
  }

  .header-tag > h3 {
    font-size: 35px !important;
    margin: 0 auto;
    text-align: center;
  }

  .header-tag > h1 {
    font-size: 60px !important;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .header-tag > .header-button > button {
    font-size: 15px !important;
    margin-top: 3rem !important;
  }

  .header-tag > .header-button > button:nth-child(1) {
    padding: 20px !important;
  }
  .header-tag > .header-button > button:nth-child(2) {
    padding: 20px !important;
  }
}

@media (max-width: 768px) {
  .header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: none !important;
  }

  .header-section > .left-header {
    background-image: url(./Img/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80vw;
    height: 80vh;
    order: 2;
  }

  .header-section > .right-header {
    order: 1;
  }

  .right-header-img {
    width: 70vw;
  }

  .right-header-img > img {
    width: 100%;
    height: 100%;
  }
}

/* ! Header section responsive */

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17vw;
  background-image: url(./Img/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem 0rem;
}

.header-section > .left-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.header-section > .left-header > .header-tag > h3 {
  font: normal normal 600 48px / normal 'Work Sans';
  color: #0b0223;
}

.header-section > .left-header > .header-tag > h1 {
  font: normal normal 800 95px / normal 'Work Sans';
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-section > .left-header > .header-tag > .header-para {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 1.5rem 0rem;
  padding-left: 0.5rem;
}

.header-para > p {
  font: normal normal 500 20px / normal 'Work Sans';
  color: #534c64;
  text-transform: lowercase;
}

.header-para > i {
  color: #534c64;
}

.header-section > .left-header > .header-tag > .header-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button > button:nth-child(1) {
  padding: 1.5rem 3rem;
  margin: 1rem 0rem;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #ffffff;
  font: normal normal 600 20px / normal 'Work Sans';
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.header-button > button:nth-child(2) {
  padding: 1.5rem 3rem;
  margin: 1rem 1rem;
  border-radius: 48px;
  background: #4ec5f7;
  color: #ffffff;
  font: normal normal 600 20px / normal 'Work Sans';
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/* ========== */
.right-header > .right-header-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-header > .right-header-img > .second-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.second-img > img:nth-child(1) {
  width: 30%;
}

.second-img > img:nth-child(2) {
  width: 50%;
}

/* ! ################## */
/* ! gamer section */
/* ! ################ */

@media (max-width: 768px) {
  .gamer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-gamer {
    text-align: center !important;
  }

  .right-gamer > h6 {
    margin: 3rem 0rem;
  }
}

@media (max-width: 480px) {
  .gamer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-gamer {
    text-align: center !important;
  }

  .right-gamer > h1 {
    font-size: 40px !important;
  }
  .right-gamer > p {
    font-size: 10px !important;
  }

  .right-gamer > button {
    padding: 1rem 1.5rem !important;
    font-size: 20px !important;
  }

  .right-gamer > h6 {
    font-size: 20px !important;
  }
}

.gamer-section {
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamer-left-img {
  width: 100%;
  height: 100%;
}
.gamer-left-img > img {
  width: 100%;
  height: 100%;
}

.right-gamer {
  text-align: right;
}

.right-gamer > h1 {
  font: normal normal 700 48px / normal 'Work Sans';
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-gamer > p {
  color: #534c64;
  font: normal normal 400px 18px/ 30px 'Work Sans';
  padding: 10px;
}

.right-gamer > button {
  padding: 1.5rem 3rem;
  margin: 1rem 1rem;
  color: #ffffff;
  font: normal normal 600 20px / normal 'Work Sans';
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

.right-gamer > h6 {
  color: #534c64;
  font: normal normal 700 32px/45px 'Work Sans';
}

.right-gamer > h6 > span {
  font-weight: 300;
}

/* ! ################## */
/* ! online gaming section */
/* ! ################ */

.online-section {
  margin-top: 7rem;
}

.online-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.online-header > h1 {
  font: normal normal 700 48px / normal 'Work Sans';
  color: #0b0223;
  margin: 20px 0px;
}

.online-header > h1 > span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-header > p {
  color: #534c64;
  font: normal normal 400 18px / 30px 'Work Sans';
}

.online-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}

.online-items > .online-item {
  padding: 2rem;
  border: none;
  width: 400px;
  height: 300px;
}

.online-items > .online-img {
  width: 100%;
  height: 100%;
}

.online-img > img {
  width: 100%;
  height: 100%;
}
